{% extends "index.html" %}

{% block script %}
<link href="{{ url_for('static', filename='umeditor/themes/default/_css/umeditor.css') }}" type="text/css"
      rel="stylesheet">
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='umeditor/umeditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='umeditor/editor_api.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='umeditor/lang/zh-cn/zh-cn.js') }}"></script>

<script src="{{ url_for('static', filename='script/new-article.js') }}"></script>
{% endblock %}

{% block container %}

<div>
  <h3>{{ article.title }}</h3>
  <div class="clearfix">
    <div class="pull-left">
      <span class="glyphicon glyphicon-calendar"></span>
      <span class="text-muted"> {{ article.created }}</span>
    </div>
    <div class="pull-right">
      <a href="{{ url_for('Common.article_update', article_id=article.id) }}"><span title="编辑" class="text-muted glyphicon glyphicon-edit"></span></a>
      <a href="{{ url_for('Common.article_delete', article_id=article.id) }}"><span title="删除" class="text-muted glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
  <hr/>
  <div>
    {{ article.content|safe }}
  </div>
</div>

{% endblock %}
