<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>wemedia</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

    <script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% block style %}{% endblock %}

    {% block script %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
